@import "bourbon";
@import "neat";
@import "mixins/sticky_footer";

@include sticky-footer(30px); 

.footer-2 {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height;
  width: 100%;
}