@import "bourbon";
@import "neat";
@import "mixins/sticky_footer";

@include sticky-footer(30px); 

.footer-2 {
  $footer-background: $blue;
  $footer-color: $black;
  $footer-link-color: lighten($blue,30);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  color: $footer-color;
  background: $footer-background;
  padding: $base-line-height;
  width: 100%;

  a, a:link {
  	color: $footer-link-color;
  	&:hover {
  		color: darken($footer-link-color,15);
  	}
  }
}