.container {
	display: block;
	height: 100%;
	width: 100%;
}

.header {
	display: block;
}

.header-inner {
	@include outer-container;
	@include clearfix;
	padding: 4em 0;
	margin: auto;
	div {
		&.nav {
			@include span-columns(4);
			@include omega();
			i {
				font-size: 1.75em;
				float:right;
				text-align:right;
				color: $pale-blue;
				padding-top:0.35em;
			}
		}
		&.logo {
			@include span-columns(8);
		}
	}
}

.intro {
	width: 100%;
	padding: 6em 0;
	background: $seafoam;
}