.container {
	display: block;
	height: 100%;
	width: 100%;
}

.header {
	display: block;
}

.header-inner {
	@include outer-container;
	@include clearfix;
	padding: 4em 0;
	margin: auto;
	div {
		&.nav {
			@include span-columns(4);
			@include omega();
			i {
				font-size: 1.75em;
				float:right;
				text-align:right;
				color: $pale-blue;
				padding-top:0.35em;
			}
		}
		&.logo {
			@include span-columns(8);
		}
	}
}

.intro {
	@include outer-container;
}

.intro-header {
	color: $intro-header-color;
}

.intro-image {
	@include span-columns(2);
}

.intro-text {
	@include span-columns(10);
	@include omega();
}