// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$pale-green: #D3E2B6;
$seafoam: #C3DBB4;
$green: #AACCB1;
$pale-blue: #87BDB1;
$blue: #68B3AF;
$black: #292621;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;


// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $blue;
$intro-header-color: $pale-blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $pale-green;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $green;
