<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="http://placehold.it/28x28">
    </div>
    <div class="bullet-content">
      <h2>Recent Blog Posts</h2>
      <p><%= render :partial => 'posts/recent' %></p>
      </div>
  </div>  
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="http://placehold.it/28x28">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="http://placehold.it/28x28">
    </div>
    <div class="bullet-content">
      <h2>Copyright & Credits</h2>
      <p>
      &copy; Copyright 2014 Rae Farine.<br>
      </p>
    </div>
  </div> 
</div>