<div class="header">
	<div class="header-inner">
		<div class="logo">
			<h1>RAE FARINE</h1>
		</div>
		<div class="nav">
			<i class="js-menu-trigger sliding-menu-button icon eye-icon"></i>
		</div>
	</div>
</div>