<div class="intro">
	<div class="intro-header">
		<h1>ABOUT</h1>
	</div>
	<div class="intro-image">
		<img src="http://placehold.it/150x150"/>
	</div>
	<div class="intro-text">
		asdjh adjdsahjkds jdsa jhksd jkhds sjnkds njsad njds jkdfs jkldf jnkfds nds 
		dfs jkdfs jkns djn dsjnksdf jknfs dbkds fbjkdfs jkndfs jnkdfs jn dfsnjk dfs
		f dsbhjsdf bjfds jkdfs nklfs dnkljdsf jnkdsf njkfsd njkfds njkdfs jnkdfs jnk
		 sdfbhdfs jkdfs kjdfs bhjf dsbhdfs bhjdfs bhjdfs bhjdsf bhdfs bhjds bhj
	</div>
</div>