<div class="comment">
  <div class="comment-image">
    <img src="http://placehold.it/85x85">
  </div>
  <div class="comment-content">
    <h1><%= comment.author_name %></h1>
    <p><%= comment.body %></p>
    <p class="comment-detail">Posted <%= distance_of_time_in_words(comment.post.created_at, comment.created_at) %> later</p>
  </div>
</div>